.Rproj.user
.Rhistory
.RData
.Ruserdata
moris_luis_ADO_PEC1_cache
moris_luis_ADO_PEC1_files
moris_luis_ADO_PEC1.log
tlcheckfile1vPjVx9n
tlcheckfileLPdWG7jT

*.png

*.xml

norm/

pre_norm/

pre_norm_log/

raw_data\.Rdata

affyPLM\.RData

rma_normalized\.Rda

results/
